.favourite__page {
    margin: 100px 100px;
}

.header__text {
    font-size: 48px;
    font-weight: 900;
    position: relative;
}

.header__text::after {
    content: '';
    position: absolute;
    right: 71%;
    top: 43%;
    bottom: 0;
    z-index: -1;
    width: 190px;
    height: 32px;
    background-image: url('../../image/vector/lepest.svg');
    background-repeat: no-repeat;
}

.items {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    column-gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



.img__item {
    border-radius: 10px;
}

.img__item:hover {
    opacity: 0.5;
}

.title__item {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}

.mute__item {
    display: flex;
    justify-content: space-between;
    color:darkgrey;
}