.cards {
    display: flex;
    column-gap: 100px;
}
.cards img {
    border-radius: 15px;
    cursor: pointer;
}

.card__title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}

.card__mute {
    display: flex;
    justify-content: space-between;
}

.card__item img:hover {
    opacity: 0.7;
}